@import "../../vars";

.header {
  display: flex;
  justify-content: center;
  background-color: $primary-button-background-color;
  height: 96px;
}

.header-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;

  &__navigation {
    display: flex;
    gap: 36px;
    flex: 1;
  }
}

.header-actions {
  display: flex;
  gap: 32px;
}
