@import "../../vars";
@import "../../styles/mixins/square";

.loader {
  @include square(48px);

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  display: inline-block;
  border: 5px solid $warning-color;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
