.toolbar {
  margin-bottom: 25px;
  width: fit-content;

  &.-fill {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .toolbar__buttons-wrapper {
      margin-bottom: 0;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__button {
    margin-right: 25px;
  }

  &__search {
    max-width: 385px;
  }

  &__buttons-box {
    display: flex;
    flex-direction: row;
  }
}
