.toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;

  &.-search {
    justify-content: flex-end;
  }

  &__buttons-wrapper {
    display: flex;
  }

  &__button,
  &__select {
    margin-right: 25px;
  }

  &__search {
    max-width: 385px;
  }

  &__buttons-box {
    display: flex;
    width: 100%;
    margin-top: 25px;
  }
}
