@import "../../vars";

.timetable-settings-page {
  &__container {
    display: flex;
    max-width: $page-width;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
  
  &__box-p {
    gap: 10px;
  }

  &__box-button {
    flex-direction: row;
    justify-content: space-between;
    max-width: 285px;
    width: 100%;
    gap: 30px;
  }
}

  