@import "../../vars";

.example-button {
    padding: 10px 20px;
    color: var(--color);
    background-color: var(--background-color);
    font-size: $default-text-size;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

    &.-positive {
        background-color: $positive-color;
    }

    &.-negative {
        background-color: $negative-color;
    }

    &__content {
        // no styles
    }
}