@import "../../vars";

.select {
  $module: ".select";

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 13px 50px 13px 25px;
  font-size: $default-text-size;
  line-height: $default-line-height;
  color: $alternative-text-color;
  background-color: $background-color;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
  box-sizing: border-box;
  outline: none;

  &__icon {
    position: absolute;
    top: 15.5px;
    right: 18.5px;
  }

  &:hover {
    background-color: #f2f4f6;
  }

  &:active,
  &:focus {
    background-color: #e8ebee;
  }

  &.-milli {
    padding: 8.5px 25px 8.5px 10px;
    font-size: 14px;
    line-height: 17px;

    & + #{$module}__icon {
      top: 10.8px;
      right: 7px;
      width: 13px;
    }
  }

  &.-micro {
    padding: 3.5px 25px 3.5px 10px;
    font-size: 14px;
    line-height: 17px;

    & + #{$module}__icon {
      top: 6.8px;
      right: 7px;
      width: 13px;
    }
  }

  // Удаление дефолтной стрелки у селекта
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.select-container {
  position: relative;
}
