@import "../../vars";

.checkbox {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.label {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $background-color;
  border-radius: 4px;

  &::after {
    position: absolute;
    left: 8px;
    top: 3px;
    width: 4px;
    height: 10px;
    border: solid $alternative-text-color;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
    content: "";
  }
}

.label:hover {
  .checkmark {
    background-color: $active-checkbox;
  }
}

.checkbox:checked {
  ~ .checkmark {
    background-color: $focus-checkbox;

    &::after {
      display: block;
    }

    &:hover::after {
      border-color: lighten($alternative-text-color, $hover-darken-value);
    }
  }
}
