.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 25px;
  width: 100%;
}

@media screen and (width <= 860px) {
  .menu-wrapper {
    grid-template-columns: repeat(1, 100%);
  }
}
