.toolbar {
  margin-bottom: 25px;
  width: fit-content;

  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }

  &__button {
    margin-right: 25px;
  }

  &__search {
    max-width: 385px;
  }
}
