@import "../../vars";

.icon-button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: $default-text-size;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  fill: $button-default;

  &.small {
    width: 32px;
    height: 32px;
  }

  :hover {
    fill: $button-default-hover;
  }

  :active,
  :focus {
    fill: $button-default-focus;
  }

  &.primary {
    fill: $button-primary;

    :hover {
      fill: $button-primary-hover;
    }

    :active,
    :focus {
      fill: $button-primary-focus;
    }
  }

  &.secondary {
    fill: $button-secondary;

    :hover {
      fill: $button-secondary-hover;
    }

    :active,
    :focus {
      fill: $button-secondary-focus;
    }
  }
}
