@use "sass:color";
@import "../../vars";

.link {
  font-size: $default-text-size;
  line-height: $default-line-height;
  text-decoration: none;
  outline: none;
  color: $alternative-text-color;
  display: flex;
  align-items: center;
  gap: 10px;
  fill: $alternative-text-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
    fill: $link-hover-color;
  }

  &:active {
    opacity: 0.3;
  }

  &.-light {
    color: $text-color;
    fill: $text-color;

    &:hover,
    &:focus {
      color: $link-light-hover-color;
      fill: $link-light-hover-color;
    }
  }

  &.-important {
    text-decoration: underline;
    color: $link-important-color;
    fill: $link-important-color;

    &:hover,
    &:focus {
      color: $link-important-hover-color;
      fill: $link-important-hover-color;
    }
  }
}
