@import "../../vars";

.link {
  font-size: 18px;
  color: $link-color;
  text-decoration: none;

  &:hover {
    font-weight: bold;
  }

  &:active {
    color: lighten($link-color, $hover-darken-value);
  }

  &.-dark {
    color: $alternative-text-color;

    &:active {
      color: lighten($alternative-text-color, $hover-darken-value);
    }
  }

  &.-light {
    color: $background-color;

    &:active {
      color: darken($background-color, $hover-darken-value);
    }
  }
}
