@use "sass:color";
@import "../../vars";

.link {
  font-size: 18px;
  text-decoration: none;
  color: $link-color;

  &:hover {
    font-weight: bold;
  }

  &:active {
    color: color.adjust($link-color, $lightness: $hover-darken-value);
  }

  &.-dark {
    color: $alternative-text-color;

    &:active {
      color: color.adjust($alternative-text-color, $lightness: $hover-darken-value);
    }
  }

  &.-light {
    color: $background-color;

    &:active {
      color: color.adjust($background-color, $lightness: -$hover-darken-value);
    }
  }
}
