@import "../../vars";

.page-navigation {
  background-color: #003fb3cc;
  display: flex;
  justify-content: center;
  padding: 24px 32px;

  &__container {
    display: flex;
    max-width: $page-width;
    width: 100%;
    flex-direction: column;
  }
}
