@import "../../vars";
@import "../../styles/mixins/square";

.input {
  width: 100%;
  padding: 0;
  margin: 0 6px 0 0;
  color: $alternative-text-color;
  font-size: $default-text-size;
  line-height: $default-line-height;
  border: none;
  outline: none;
}

::placeholder {
  color: $placeholder-text-color;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 13px 25px;
  font-size: $default-text-size;
  line-height: $default-line-height;
  background-color: $background-color;
  border-bottom: 1px solid transparent;
  border-radius: 6px;
  cursor: text;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
  box-sizing: border-box;
  outline: none;

  &__icon {
    @include square(22px);

    padding: 0;
  }

  &:hover {
    background-color: #f2f4f6;

    & .input {
      background-color: #f2f4f6;
    }
  }

  &:active,
  &:focus {
    background-color: #e8ebee;
    border-bottom: 1px solid $alternative-text-color;

    & .input {
      background-color: #e8ebee;
    }
  }

  &.-milli {
    padding: 8.5px 10px;

    & .input {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &.-micro {
    padding: 3.5px 10px;

    & .input {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &.-error {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
    border-bottom: 1px solid $error-color;
  }
}
