@use "sass:color";
@import "../../vars";
@import "../../styles/mixins/square";

.action-button {
  $module: ".action-button";

  display: flex;
  align-items: center;
  padding: 12.5px 15px;
  border-radius: 6px;
  font-size: $default-text-size;
  line-height: $default-line-height;
  cursor: pointer;
  background-color: $default-button-background-color;
  color: $alternative-text-color;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);

  &__icon {
    @include square(18px);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    opacity: 0.4;

    &:focus {
      opacity: 0.2;
    }
  }

  &:hover,
  &:focus {
    background-color: $default-button-background-color-hover;
  }

  &:focus {
    border: 1px solid $alternative-text-color;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 70%);
  }

  &:active {
    color: rgba($alternative-text-color, 30%);
    background-color: $default-button-background-color-active;

    & > #{$module}__icon {
      opacity: 0.2;
    }
  }

  &.-positive,
  &.-negative,
  &.-warning {
    & > #{$module}__icon {
      opacity: 1;
    }
  }

  &.-positive {
    color: $success-color;
    border: 1px solid $success-color;
    background-color: $success-background-color;

    &:hover,
    &:focus {
      background-color: $success-background-color-hover;
    }

    &:focus {
      border: 1px solid $success-border-focus-color;
    }

    &:active {
      color: rgba($success-color, 30%);
      border-color: rgba($success-color, 50%);
      background-color: $success-background-color-active;

      & > #{$module}__icon {
        opacity: 1;
      }
    }
  }

  &.-negative {
    color: $error-color;
    border: 1px solid $error-color;
    background-color: $error-background-color;

    &:hover,
    &:focus {
      background-color: $error-background-color-hover;
    }

    &:focus {
      border: 1px solid $error-border-focus-color;
    }

    &:active {
      color: rgba($error-color, 30%);
      border-color: rgba($error-color, 50%);
      background-color: $error-background-color-active;

      & > #{$module}__icon {
        opacity: 1;
      }
    }
  }

  &.-warning {
    color: $warning-color;
    border: 1px solid $warning-color;
    background-color: $warning-background-color;

    &:hover,
    &:focus {
      background-color: $warning-background-color-hover;
    }

    &:focus {
      border: 1px solid $warning-border-focus-color;
    }

    &:active {
      color: rgba($warning-color, 30%);
      border-color: rgba($warning-color, 50%);
      background-color: $warning-background-color-active;

      & > #{$module}__icon {
        opacity: 1;
      }
    }
  }

  &.-small {
    font-size: 12px;
    line-height: normal;
  }
}
