@use "sass:color";
@import "../../vars";
@import "../../styles/mixins/square";

.radiomark {
  @include square(20px);

  position: absolute;
  top: 0;
  left: 0;
  background-color: $background-color;
  border-radius: 10px;

  &::after {
    @include square(10px);

    position: absolute;
    left: 5px;
    top: 5px;
    background-color: $alternative-text-color;
    border-radius: 5px;
    content: "";
    display: none;
  }
}

.radio {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;

  &:checked {
    ~ .radiomark {
      background-color: $focus-checkbox;

      &::after {
        display: block;
      }

      &:hover::after {
        opacity: 0.3;
      }
    }
  }
}

.radio-label {
  @include square(20px);

  display: flex;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0 0 0 / 25%);

  &:hover {
    .radiomark {
      background-color: $hover-checkbox;
    }
  }

  &:focus {
    .radiomark {
      background-color: $focus-checkbox;
    }
  }
}

.radio-label-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  cursor: pointer;
}
