.root {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-actions-panel {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.page-actions {
  display: flex;
  gap: 25px;
}
