@import "../../vars";

.sign-in-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sign-in {
  max-width: fit-content;
  max-height: fit-content;
  padding: 30px 25px 25px;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(#000, 25%);

  &.-disabled {
    pointer-events: none;
    filter: blur(1px) grayscale(80%);
  }

  &__input {
    margin-bottom: 25px;
  }

  &__button {
    justify-content: center;
    min-width: 345px;
  }

  &__notification {
    position: absolute;
    top: calc(50% - 225px);
    min-width: 395px;
    min-height: 100px;
  }
}
