@import "../../vars";

.button {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  gap: 6px;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
  background-color: $grey-default;
  color: $alternative-text-color;

  &.-blue {
    background-color: $blue-default;
    color: $background-color;

    &:hover {
      background-color: $blue-hover;
    }

    &:active {
      background-color: $blue-focus;
    }
  }

  &.-dark-blue {
    background-color: $dark-blue-default;
    color: $background-color;

    &:hover {
      background-color: $dark-blue-hover;
    }

    &:active {
      background-color: $dark-blue-focus;
    }
  }

  &:hover {
    background-color: $grey-hover;
  }

  &:active {
    background-color: $grey-focus;
  }
}
