@import "./vars";
@import "./styles/table.scss";

// Переменные темы
:root {
  --main-color: #002974;
  --secondary-color: #008AE1;
}

.icon {
  padding: 3px;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}
