@import "./vars";
@import "./styles/styles";

// Переменные темы
:root {
  --main-color: #002974;
  --secondary-color: #008ae1;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}

button {
  font-family: inherit;
}
