// Типографика
$default-text-size: 18px;
$default-line-height: 22px;

// Палитра
$background-color: #FFF;
$success-color: #218838;
$success-background-color: #D3E7D7;
$warning-color: #856404;
$warning-background-color: #FFFAEB;
$error-color: #DC3545;
$error-background-color: #F8D7DA;

// Кнопки
$button-secondary: #fd0c;
$button-secondary-hover: #fd0;
$button-secondary-focus: #fd08;

// Primary
$button-primary: #fffc;
$button-primary-hover: #fff;
$button-primary-focus: #fff8;

// Default
$button-default: #9196a183;
$button-default-hover: #9196a1b6;
$button-default-focus: #9196a152;

// Blue
$blue-default: #008ae1;
$blue-hover: #1d6fc4;
$blue-focus: #1965b4;

// Dark blue
$dark-blue-default: #003fb3;
$dark-blue-hover: #002974;
$dark-blue-focus: #001e56;

// Grey
$grey-default: #fff;
$grey-hover: #e8ebee;
$grey-focus: #dbe0e4;

// Типографические цвета
$link-color: #FD0;
$text-color: #FFF;
$alternative-text-color: #4A525A;
$warning-text-color: #856404;
$table-color: #b9b9b9;

// Darken values
$hover-darken-value: 10%;
$focus-darken-value: 20%;
// Checkbox styles
$active-checkbox: #dbe0e4;
$focus-checkbox: #e8ebee;